*{
    font-family: IBM Plex Sans;
}
.logo{
    font-size: 32px;
    font-weight: 700;
}
.menu{
    font-size: 16px;
}
.button{
    font-size: 20px;
    font-weight: 700;
    padding: 13px 36px;
    background-color: #D8FB78;
    border-radius: 99px;
}
.cart{
    border: 1px solid rgb(182, 179, 179);
    border-radius: 25px;
}

